body {
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Comic Sans MS', Verdana, Georgia, sans-serif;
    background-color: rgb(21, 21, 21);
    color: white;
}

header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.calculator {
    border: 2px solid rgb(68, 42, 153);
    border-radius: 12px;
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.result {
    border: 2px solid rgb(146, 141, 39);
    border-radius: 8px;
    margin: 25px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 36px;
    padding: 8px;
    gap: 8px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    flex: 1;
    padding: 16px;
}

button {
    width: 100px;
    font-family: 'Comic Sans MS', Verdana, Georgia, sans-serif;
    border-radius: 8px;
    border: 1px solid black;
    color: aliceblue;
    font-size: 20px;
}

.clear, .delete {
    width: 200px;
    background-color: rgb(236, 114, 114);
}

.previousNumber {
    font-size: 24px;
}

.digit {
    background-color: rgb(0, 170, 255);
}

.period {
    background-color: rgb(64, 111, 206);
}

.equal {
    background-color: rgb(74, 180, 74);
}

.operator {
    background-color: rgb(173, 97, 206);
}